<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>GOODDRIVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Tables are the backbone of almost all web applications.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/create_new.css" rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
        <!-- <div class="app-header header-shadow" style="    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%) !important;"> -->
            <div class="app-header__logo">
                <div class="logo-src" style="font-family: 'Do Hyeon', sans-serif; font-size: 1.8rem; margin-top: -15px; ">GOODDRIVE</div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <!-- 검색 기능 구현 -->
                            <input type="text" class="search-input" placeholder="Type to search number" id="value_num" onkeyup="filter_number()">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <%= accessor.ID %>
                                            <!-- <img width="42" class="rounded-circle" src="images/img_icon/more.svg" alt="" style="transform: rotate( 90deg );"> -->
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                            <!-- <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button> -->
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/logout'">Log Out</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>        
            <div class="app-main"> 
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">NAVIGATION</li>
                                <li  class="mm-active" >
                                    <a href="/auth">
                                        <i class="metismenu-icon pe-7s-display2"></i>
                                        auth & disaster
                                    </a>
                                </li>
                                <li  class="mm-active" >
                                    <a href="/call_user">
                                        <i class="metismenu-icon pe-7s-add-user"></i>
                                        USER
                                    </a>
                                </li>
                                <li  class="mm-active" >
                                    <a href="/call_loc">
                                        <i class="metismenu-icon pe-7s-map-marker"></i>
                                        Call_Loc
                                    </a>
                                </li>
                                <li  class="mm-active" >
                                    <a href="/call_cam">
                                        <i class="metismenu-icon pe-7s-camera"></i>
                                        Call_Cam
                                    </a>
                                </li>
                                <li class="mm-active">
                                    <a href="/company">
                                        <i class="metismenu-icon pe-7s-home"></i>
                                        Company
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/company/cons">
                                                <i class="metismenu-icon">
                                                </i>Consultant
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a href="/company/user">
                                                <i class="metismenu-icon">
                                                </i>User
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="/company/com">
                                                <i class="metismenu-icon">
                                                </i>Company
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <!-- <div class="page-title-icon">
                                        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                        </i>
                                    </div> -->
                                    <div>
                                        <p style="font-size: 1.8rem;font-weight: 500;  margin-bottom: 0;">Location</p>
                                        <div class="page-title-subheading">Location DATA LIST</div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                    <!-- <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="mb-2 mr-2 btn btn-primary" onclick="getShow()">
                                        + Create new
                                    </button> -->
                                    <div class="d-inline-block dropdown">
                                        <!-- <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="mb-2 mr-2 btn-transition btn btn-outline-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa pe-7s-edit fa-w-20"></i>
                                            </span>
                                            Filter
                                        </button> -->
                                        <% if (locals.filter_status === "show") {%>
                                            <form class="" action="/call_loc/filter" method="post" style="display: flex;">
                                                <div class="position-relative row form-check">
                                                    <select name="conID" id="exampleSelect" class="form-control">
                                                        <option value="<%= locals.filter_cons_name %>">now: <%= locals.filter_cons_name %></option>
                                                        <option value="ALL">ALL</option>
                                                        <% call_cons_d.forEach(function(value){ %>
                                                        <option value="<%= value.conID %>"><%= value.conID %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="position-relative row form-check">
                                                    <div class="col-sm-10 offset-sm-2">
                                                        <!-- <button class="btn btn-secondary" style="width:440px; float:right;" >Submit</button>-->
                                                        <button class="mb-2 mr-2 btn-transition btn btn-outline-info" style="font-size: 1rem;">OK</button>
                                                    </div>
                                                </div>
                                            </form> 
                                        <% } %>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-inbox"></i>
                                                        <span>
                                                            Inbox
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-book"></i>
                                                        <span>
                                                            Book
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-picture"></i>
                                                        <span>
                                                            Picture
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                        <i class="nav-link-icon lnr-file-empty"></i>
                                                        <span>
                                                            File Disabled
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>    </div>
                        </div>            
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="col-lg-6">
                                <div class="main-card mb-3 card">
                                    <div class="card-body"><h5 class="card-title">All the calls</h5>
                                        <table class="mb-0 table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>userID</th>
                                                <th>cPhone</th>
                                                <th>S Addr</th>
                                                <!-- <th>E Addr</th> -->
                                                <th>Status</th>
                                                <th>conID(상담원)</th>
                                                <th>cpID(회사)</th>
                                                <th>addDate</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <% let i =0; %>
                                                <% c_loc.forEach(function(value){ %>
                                            <tr class="item_num" onclick="location.href='/call_loc/<%= value.userID %>'; getEdit();">
                                                <th scope="row"><%= ++i %></th>
                                                <td><%= value.userID %></td>
                                                <td class="name_num"><%= value.cPhone %></td>
                                                <td><%= value.sAddr %></td>
                                                <!-- <td><%= value.eAddr %></td> -->
                                                <td><%= value.status %></td>
                                                <td><%= value.conID %></td>
                                                <td><%= value.cpID %></td>
                                                <td><%= value.addDate %></td>
                                            </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- <div>
                                <nav class="" aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link">2</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link">3</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link">4</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                        <div class="create_area" id="create_area"> 
                            <div class="tab-pane tabs-animation " id="tab-content-1" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <div style="display:flex;">
                                            <button type="button" value="" onclick="getHide()" style="border: none; background:none; ">
                                                <span>
                                                    <i class="pe-7s-angle-right-circle" style="font-size:2rem;"></i>
                                                </span>
                                            </button>
                                            <h5 class="card-title" style="font-size: 1.5rem; margin-top: 5px;">Create new</h5>
                                        </div>
                                        <!-- new call create
                                        <form class="" action="/call/create" method="post" >
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>cPhone</label>
                                                <input name="cPhone" id="exampleEmail11"  type="text" class="form-control">
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>E Addr</label>
                                                <input name="eAddr" id="exampleEmail11"  type="text" class="form-control">
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>Status</label>
                                                <select name="status" id="exampleSelect" class="form-control">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">conID</label>
                                                <input name="conID" id="exampleEmail11"  type="text" class="form-control" value="<%= accessor.ID %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">cpID</label>
                                                <input name="cpID" id="exampleEmail11"  type="text" class="form-control" value="<%= accessor.CP %>" readonly>
                                            </div>
                                            <div class="position-relative row form-check">
                                                <div class="col-sm-10 offset-sm-2">
                                                    <button class="btn btn-secondary" style="width:440px; float:right;" onclick="getHide()">Submit</button>
                                                </div>
                                            </div>
                                        </form> -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                        

                        <!-- edit  -->
                        <% if (locals.status === "show") {%>
                        <div class="create_area" id="edit_area"> 
                            <div class="tab-pane tabs-animation " id="tab-content-1" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <div style="display:flex;">
                                            <button type="button" value="" onclick="getSave()" style="border: none; background:none; ">
                                                <span>
                                                    <i class="pe-7s-angle-right-circle" style="font-size:2rem;"></i>
                                                </span>
                                            </button>
                                            <h5 class="card-title" style="font-size: 1.5rem; margin-top: 5px;">Edit</h5>
                                        </div>
                                        <!-- 고객 정보 update 하는 폼 -->
                                        <form class="" action="/call_loc/update/<%= call_data[0].userID %>" method="post" >
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>userID</label>
                                                <input name="userID" id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].userID %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>cPhone</label>
                                                <input name="cPhone" id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].cPhone %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">S Addr</label>
                                                <input name="sAddr" id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].sAddr %>">
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class=""><span style="color: #4268F6;">*</span>Status</label>
                                                <select name="status" id="exampleSelect" class="form-control" >
                                                    <option value="<%= call_data[0].status%>">now: <%= call_data[0].status%></option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">conID(상담원)</label>
                                                <input name="conID" id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].conID %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">cpID(회사)</label>
                                                <input name="cpID" id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].cpID %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">addDate</label>
                                                <input  id="exampleEmail11"  type="datetime" class="form-control" value="<%= call_data[0].addDate %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">locExplain</label>
                                                <input  id="exampleEmail11"  type="text" class="form-control" value="<%= call_data[0].loc_exp %>" readonly>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail11" class="">loc_img</label>
                                                <img src = "<%= call_data[0].loc_img %>" style = "width:440px; ">
                                            </div>
                                            <div class="position-relative row form-check">
                                                <div class="col-sm-10 offset-sm-2">
                                                    <button class="btn btn-secondary" style="width:440px; float:right;" onclick="getSave()">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="position-relative row form-check">
                                            <div class="col-sm-10 offset-sm-2">
                                                <button class="btn btn-danger" style="width:440px; float:right;" onclick="location.href='/call_loc/delete/<%= call_data[0].userID %>'" >
                                                    Delete 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

    <script type="text/javascript">

    function getShow(){
        document.getElementById("create_area").style.display = "block";
        document.getElementById("create_area").style.right = "0px";
        
    }
    function getHide(){
        document.getElementById("create_area").style.right = "-30rem";
        // document.getElementById("create_area").className = "show";
    }
    //옵션 수정 화면
    function getEdit(){
        document.getElementById("edit_area").style.display = "block";
        document.getElementById("edit_area").style.right = "0px";
    }
    function getSave(){
        document.getElementById("edit_area").style.right = "-30rem";
    }

    //전화번호 검색기능 구현
    function filter_number(){
        var value, name, item,i,j;
        var textList = [];
        value = document.getElementById("value_num").value.toUpperCase();
        item = document.getElementsByClassName("item_num");

        for(i=0;i<item.length;i++){
            name = item[i].getElementsByClassName("name_num");
            if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
                item[i].style.visibility = "visible";
                for(j=0;j<name.length;j++){
                    textList.push(name[j].innerText);
                }
            }else{
                item[i].style.visibility = "collapse";//안보이게
                console.log("delet : "+ name);
            }
        }
    }
    
    //socket 
    let socket = new WebSocket("ws://localhost:5050");
    socket.onmessage = function(event){ //서버에서 데이터를 받으면 
        if(event.data==1){ //데이터 내용이 1이면 
            alert("insert 되었습니다!"); 
            location.href = "/call_loc"; //렌더링 
        }
    }
    </script>

<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>